force-app/main/default/flows/Identify_Customer_By_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Save_customer_details</name>
        <label>Save customer details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isVerifiedCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verifiedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Get_contact_record_matching_customer.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>successMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Save_error_details</name>
        <label>Save error details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isVerifiedCustomer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
                >Sorry, we couldn&apos;t confirm your identity based on the email that you provided.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_customer_identified</name>
        <label>Is customer identified?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Save_error_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer is not verified</defaultConnectorLabel>
        <rules>
            <name>Customer_identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
                >Get_contact_record_matching_customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_customer_details</targetReference>
            </connector>
            <label>Customer identified</label>
        </rules>
    </decisions>
    <description
    >Identifies a Pronto customer (Contact) thanks to their email</description>
    <environments>Default</environments>
    <interviewLabel
    >Identify Customer By Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Identify Customer By Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contact_record_matching_customer</name>
        <label>Get contact record matching customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_customer_identified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference
            >Get_contact_record_matching_customer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>successMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
        >&lt;p&gt;Thanks for confirming your identity {!Get_contact_record_matching_customer.FirstName}.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description
        >Stores the email address provided by the customer.</description>
        <name>emailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Whether the customer could be verified</description>
        <name>isVerifiedCustomer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A message that summarizes the action result</description>
        <name>outputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description
        >The verified customer ID (Contact ID). This output parameter is not set if the customer cannot be verified.</description>
        <name>verifiedCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
