force-app/main/default/flows/Issue_Bulk_Resort_Credits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_creditRecord_to_creditRecords</name>
        <label>Add creditRecord to creditRecords</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>creditRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>creditRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_recordCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_recordCount</name>
        <label>Increment recordCount</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contactRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_creditRecord_values</name>
        <label>Set creditRecord values</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>creditRecord.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Loop_through_contactRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>creditRecord.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_creditRecord_to_creditRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Message</name>
        <label>Set Message</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>messageTemplate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description
    >Issue resort credits for one of multiple contacts identified by an array of Contact
        Ids.</description>
    <environments>Default</environments>
    <interviewLabel
    >Issue Bulk Resort Credits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Issue Bulk Resort Credits</label>
    <loops>
        <name>Loop_through_contactRecords</name>
        <label>Loop through contactRecords</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>contactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_creditRecord_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Credit_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credit_Records</name>
        <label>Create Credit Records</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Set_Message</targetReference>
        </connector>
        <inputReference>creditRecords</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_contactRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>A description of the outcome of the operation</description>
        <name>messageTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
        >Issued ${!amount} resort credit to {!recordCount} customers.</text>
    </textTemplates>
    <variables>
        <description>The resort credit amount</description>
        <name>amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The list of contacts</description>
        <name>contactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>creditRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit__c</objectType>
    </variables>
    <variables>
        <name>creditRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit__c</objectType>
    </variables>
    <variables>
        <description>The outcome of the operation</description>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
