cc-base-app/main/default/flows/Get_Customer_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Save_contact_details</name>
        <label>Save contact details</label>
        <locationX>308</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>contactDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Get_Contact_by_Email_and_Member_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerifiedCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Get_Contact_by_Email_and_Member_Number.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsCustomerVerified</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_Contact_exist</name>
        <label>Does Contact exist?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Save_contact_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
                >Get_Contact_by_Email_and_Member_Number.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description
    >Validate and retrieve Customers details by passing their email and memberNumber to see if there is a related contact.</description>
    <environments>Default</environments>
    <interviewLabel
    >Get Customer Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Customer Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description
        >Search for a contact record and validate that they are who they say they are by
            their email and member number.</description>
        <name>Get_Contact_by_Email_and_Member_Number</name>
        <label>Get Contact by Email and Member Number</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Membership_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>memberNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Interest1__c</queriedFields>
        <queriedFields>Interest2__c</queriedFields>
        <queriedFields>Interest3__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference
            >Get_Contact_by_Email_and_Member_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description
        >Record holding customer details such as ID and interests.</description>
        <name>contactDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description
        >The Email Address of the customer that is validating their identity.</description>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
        >Indicates whether the customer is verified. It is set to true if the customer is verified.</description>
        <name>IsCustomerVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description
        >The Member Number of the customer that is validating their identity.</description>
        <name>memberNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the verified customer</description>
        <name>VerifiedCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
