cc-base-app/main/default/flows/Get_Experience_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Save_flow_output</name>
        <label>Save flow output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>experienceRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Experience_by_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>linkTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Experience_by_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>linkUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue
                >https://help.salesforce.com/s/articleView?id=ai.agent_response_ref.htm&amp;type=5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>linkImageUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
                >Get_Experience_by_Name.Picture_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>linkImageMimeType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>image/jpeg</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <description
    >Provides details about an Experience__c that a user would like more information about.</description>
    <environments>Default</environments>
    <interviewLabel
    >Get Experience Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Experience Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Search for available Experiences by Name.</description>
        <name>Get_Experience_by_Name</name>
        <label>Get Experience by Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound
        >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_flow_output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>experienceName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Experience__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Activity_Level__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Picture_URL__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Experience_by_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description
        >The Name of the Experience__c that the user would like more information on.</description>
        <name>experienceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description
        >The Experience__c record to be summarized for the user.</description>
        <name>experienceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Experience__c</objectType>
    </variables>
    <variables>
        <description
        >The MIME type of the image associated with the experience page link.</description>
        <name>linkImageMimeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description
        >A URL for an image associated with the experience page link.</description>
        <name>linkImageUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A title for the link to the experience page.</description>
        <name>linkTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A link to the activity page.</description>
        <name>linkUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
